@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Playfair Display", serif;
  src: url("../fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}
body {
  background-color: #ebded2;
  padding-bottom: 70px;
  font-family: "Playfair Display", serif;
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #944e63;
  font-weight: bold;
  font-style: oblique;
}

h2 {
  font-size: 2.5em;
  text-align: center;
  margin: 20px 0;
  color: #944e63;
}

/* Estilos del header */
header {
  background-color: #944e63;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  gap: center;
  height: 100px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  /* Menu de navegacion */
}
header .titulo-html {
  grid-column: 1/span 3;
  grid-row: auto;
  display: block;
  font-family: "Playfair Display", serif;
  color: #dbc9a7;
  text-align: center;
}
header .logo-index {
  grid-column: 1/span 2;
  grid-row: auto;
  max-height: 90px;
  margin: 5px;
  margin-left: 50px;
  display: block;
}
header .logo {
  grid-column: 4/span 2;
  grid-row: auto;
  margin: 0 auto;
  max-height: 100px;
  display: block;
}
header .main-menu, header .footer-menu {
  grid-column: 6/span 2;
  grid-row: auto;
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: center;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: normal;
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  margin: 0;
  padding: 0;
  z-index: inherit;
}
header .main-menu ul, header .footer-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  align-content: normal;
  list-style: none;
  padding: 0;
  margin: 0;
}
header .main-menu ul li, header .footer-menu ul li {
  margin: 0 5px;
}
header .main-menu ul li a, header .footer-menu ul li a {
  display: block;
  padding: 2px 10px;
  text-decoration: none;
  color: #dbc9a7;
  background-color: #944e63;
  border: none;
  border-bottom: 2px solid #dbc9a7;
  border-radius: 8px 8px 0 0;
}
header .main-menu ul li a.active, header .footer-menu ul li a.active {
  color: #944e63;
  background-color: #ebded2;
  border-bottom: 2px solid #ebded2;
}
header .main-menu ul li a:hover, header .footer-menu ul li a:hover {
  background-color: #dbc9a7;
  color: #944e63;
  border-bottom: 2px solid #944e63;
}

/* Media Queries */
/* Pantallas pequeñas (max-width: 768px) */
@media screen and (max-width: 768px) {
  header {
    height: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    gap: center;
    /* Mantén las 7 columnas */
  }
  header .titulo-html {
    grid-column: 1/span 3;
    grid-row: auto;
    text-align: left;
    margin-left: 10%;
    font-size: 1.5em;
  }
  header .logo-index {
    grid-column: 1/span 1;
    grid-row: auto;
    justify-self: center;
    align-self: center;
    margin: 0 auto;
    max-height: 70px;
  }
  header .logo {
    grid-column: 4/span 1;
    grid-row: auto;
    justify-self: center;
    align-self: center;
    margin: 0 auto;
    max-height: 70px;
  }
  header .main-menu, header .footer-menu {
    grid-column: 7/span 1;
    grid-row: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: normal;
  }
  header .main-menu ul, header .footer-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: normal;
  }
  header .main-menu ul li, header .footer-menu ul li {
    margin: 5px 0;
  }
  header .main-menu ul a, header .footer-menu ul a {
    padding: 8px 10px;
    font-size: 0.9em;
  }
}
/* Importar variables */
/* Estilos del footer*/
footer {
  background-color: #944e63;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 60px;
  color: #dbc9a7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  align-content: normal;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 0.9em;
}

/* Sección principal del footer con mixin flex */
.footer-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  align-content: normal;
  flex-grow: 1;
}

/* Sección de contacto */
.footer-contacto h5 {
  margin: 0;
  font-size: 1.2em;
  text-decoration: underline;
}
.footer-contacto p {
  margin: 0;
  font-size: 0.85em;
  line-height: 1.2em;
}

/* Sección de derechos reservados */
.footer-derechos {
  margin-left: 20px;
  font-size: 1.1em;
  margin-top: 15px;
}

/* Links en el footer utilizando mixin button */
.footer-links {
  margin: 0 20px;
  margin-top: 15px;
}
.footer-links a {
  background-color: #944e63;
  color: #dbc9a7;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  border-color: transparent;
  padding: 5px 10px;
  font-size: 1em;
}
.footer-links a:hover {
  background-color: #dbc9a7;
  color: #944e63;
  box-shadow: 0 1px 5px black;
}

/* Ajustes responsive para pantallas pequeñas */
@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: normal;
    height: auto;
    padding: 10px 0;
  }
  .footer-sections {
    display: none;
  }
}
/* Menu de navegacion en el footer */
.footer-menu {
  display: none;
  position: static;
  text-align: center;
}

/* Media Queries */
/* Pantallas pequeñas */
@media screen and (max-width: 768px) {
  /* Oculta el menú en el header */
  header .main-menu, header .footer-menu {
    display: none;
  }
  footer {
    padding-top: 0;
  }
  footer p {
    display: none;
  }
  /* Muestra el menú en el footer */
  footer .footer-menu {
    display: flex;
    flex-direction: column;
    background-color: #944e63;
    width: 100%;
    box-sizing: border-box;
  }
  /* Estilos de header pero invertidos */
  footer .footer-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: normal;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  footer .footer-menu ul li {
    margin: 0 8px;
  }
  footer .footer-menu ul li a {
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    color: #dbc9a7;
    background-color: #944e63;
    border-radius: 0px 0px 8px 8px;
    border-top: 2px solid #dbc9a7;
  }
  footer .footer-menu ul li a.active {
    color: #944e63;
    background-color: #ebded2;
    border-top: 2px solid #ebded2;
  }
  footer .footer-menu ul li a:hover {
    background-color: #dbc9a7;
    color: #944e63;
    border-top: 2px solid #dbc9a7;
  }
}
/* Pantallas grandes*/
@media screen and (min-width: 769px) {
  /* Oculta el menú en el footer en pantallas grandes */
  footer .footer-menu {
    display: none;
  }
}
.btn-group {
  grid-column: 7/span 1;
  grid-row: auto;
  align-items: center;
  margin-left: 80px;
}
.btn-group .btn-secondary {
  background-color: #944e63;
  border-color: #ebded2;
  border-radius: 8px;
  max-width: 60px;
  max-height: 50px;
  padding: 4px 8px;
  font-size: 14px;
}
.btn-group .btn-secondary:hover {
  background-color: #ebded2;
  border-color: #944e63;
}
.btn-group .dropdown-menu {
  background-color: #ebded2;
  border: 1px solid #944e63;
  max-width: 200px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  display: none;
}
.btn-group .dropdown-menu.show {
  display: block;
}
.btn-group .dropdown-item {
  color: black;
  padding: 8px 12px;
}
.btn-group .dropdown-item:hover {
  background-color: #944e63;
  color: white;
}

/* Perfil del usuario */
.img-usuario {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #dbc9a7;
  object-fit: cover;
}

/* Estilos de la barra de busqueda */
.navbar.bg-body-tertiary {
  border-bottom: 2px solid #dbc9a7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar .container-fluid {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.navbar .form-control {
  background-color: inherit;
  border-color: #dbc9a7;
  color: #333;
}

.navbar .btn-outline-success {
  background-color: #944e63;
  color: #dbc9a7;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  border-color: transparent;
}
.navbar .btn-outline-success:hover {
  background-color: #dbc9a7;
  color: #944e63;
  box-shadow: 0 1px 5px black;
}

/* Media queries para dispositivos pequeños */
@media screen and (max-width: 768px) {
  /* Ajustes para la barra de búsqueda */
  .navbar {
    flex-direction: column;
    justify-content: center;
    width: 80%;
  }
  .navbar .container-fluid {
    justify-content: center;
    margin: 4px;
  }
  .navbar .form-control {
    width: 100%;
    margin-bottom: 1px;
  }
  .navbar .btn-outline-success {
    width: 30%;
  }
  /* Ajustes para el botón de usuario y menú desplegable */
  .btn-group {
    margin-left: 0;
    max-width: 100px;
  }
  .dropdown-menu {
    max-width: 100%;
    top: calc(100% + 5px);
  }
  .dropdown-item {
    font-size: 14px;
  }
}
/* Pantallas medianas*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Ajustes para la barra de búsqueda */
  .navbar {
    padding: 15px 20px;
    background-color: #ebded2;
    position: relative;
  }
  .navbar .form-control {
    max-width: 80%;
    margin-right: 15px;
  }
  .navbar .btn-outline-success {
    width: auto;
    margin-left: 5px;
  }
  .dropdown-menu {
    max-width: 250px;
    top: calc(100% + 5px);
    left: auto;
  }
  .dropdown-item {
    font-size: 16px;
  }
}
/*Contenido principal*/
.contenido-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: normal;
  margin: 20px auto;
  max-width: 1200px;
}

.texto-imagen {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: normal;
  width: 100%;
}

.contenido-principal-texto {
  padding: 20px;
  max-width: 60%;
  text-align: center;
}
.contenido-principal-texto h2 {
  font-size: xx-large;
}
.contenido-principal-texto p {
  font-size: larger;
  font-style: oblique;
  font-weight: bold;
}

.contenido-principal-imagen {
  flex: 1;
  max-width: 40%;
}

.contenido-principal-imagen img {
  width: 80%;
  margin: 40px;
  border-radius: 8px;
}

/*Estilos para los destacados*/
.destacados {
  padding: 50px;
  padding-top: 2px;
  padding-bottom: 100px;
}

.destacados h2 {
  font-size: 2em;
  color: #944e63;
  margin-bottom: 50px;
  text-align: center;
}

.destacados-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  gap: 0;
  gap: 20px;
  justify-content: center;
}

.destacado-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
  transition: transform 0.4s, box-shadow 0.4s;
}
.destacado-item:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.destacado-item img {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
}

.destacado-item h3 {
  margin: 15px 0 10px;
  color: #944e63;
  text-align: center;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.destacado-item p {
  color: #666;
  margin-bottom: 15px;
}

.btn-detalles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: normal;
  background-color: #944e63;
  color: #dbc9a7;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  border-color: transparent;
  padding: 10px 20px;
  font-size: 20px;
  margin-top: auto;
}
.btn-detalles:hover {
  background-color: #dbc9a7;
  color: #944e63;
  box-shadow: 0 1px 5px black;
}

.eventos {
  padding: 20px;
  background-color: #944e63;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgb(0, 0, 0);
  text-align: center;
  margin: 40px 0;
}
.eventos h2 {
  font-size: 2em;
  color: #dbc9a7;
  margin-bottom: 20px;
}
.eventos ul {
  list-style: none;
}
.eventos ul li button {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgb(15, 15, 15);
  transition: transform 0.3s;
  background-color: #ebded2;
  color: #944e63;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  border-color: transparent;
}
.eventos ul li button:hover {
  background-color: #dbc9a7;
  color: #944e63;
  box-shadow: 0 1px 5px black;
}
.eventos ul li button:hover {
  transform: translateY(-2px);
}

/*Estilos para la sección de suscripción*/
.cta {
  padding: 20px;
  background-color: #944e63;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgb(0, 0, 0);
  text-align: center;
  margin: 40px 0;
  color: #fff;
}

.cta h2 {
  color: #dbc9a7;
  font-size: 2em;
  margin-bottom: 10px;
}

.cta p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.cta form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: normal;
  gap: 10px;
}

.cta input[type=email] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 250px;
}

.cta button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  background-color: #ebded2;
  color: #944e63;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  border-color: transparent;
}
.cta button:hover {
  background-color: #dbc9a7;
  color: #944e63;
  box-shadow: 0 1px 5px black;
}

/* Estilos generales para el catálogo*/
.catalogo {
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

/* Estilo para los items del catálogo*/
.catalogo-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.catalogo-items .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px;
  max-height: 550px;
  transition: transform 0.4s, box-shadow 0.4s;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
}
.catalogo-items .item:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.catalogo-items .item img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.catalogo-items .item h3 {
  margin: 10px 0 5px;
  color: #944e63;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: space-between;
  padding: 5px;
}

.precio {
  font-weight: bold;
  color: #7e4d72;
  font-size: 1.2em;
  margin-top: auto;
}

/*Estilo para el botón de detalles*/
.btn-detalles {
  background-color: #944e63;
  color: #dbc9a7;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  border-color: transparent;
  padding: 1px;
  font-size: 18px;
  margin-top: 10px;
}
.btn-detalles:hover {
  background-color: #dbc9a7;
  color: #944e63;
  box-shadow: 0 1px 5px black;
}

.detalles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: normal;
  height: 80vh;
}

.fondo-libro {
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.pagina-izquierda, .pagina-derecha {
  width: 40%;
  padding: 20px;
  background-color: white;
  border-radius: 18px;
  box-shadow: 15px 15px #944e63;
  border: 1px solid #6f4c3e;
  position: relative;
  overflow: hidden;
  margin-right: -1px;
  text-align: center;
}

.pagina-izquierda img {
  max-width: 100%;
  height: 100%;
  border-radius: 8px;
  margin: auto;
}

.pagina-derecha h2 {
  margin-bottom: 15px;
  color: #944e63;
}

.pagina-derecha h3 {
  margin-bottom: 50px;
}

.pagina-derecha h4 {
  margin-bottom: 50px;
  font-style: oblique;
}

.pagina-derecha p {
  color: black;
  text-align: center;
}

.btn-regresar {
  background-color: #944e63;
  color: #dbc9a7;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  border-color: transparent;
  margin-top: 25px;
  padding: 10px;
}
.btn-regresar:hover {
  background-color: #dbc9a7;
  color: #944e63;
  box-shadow: 0 1px 5px black;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .contenido-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: normal;
  }
  .texto-imagen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: normal;
    width: 100%;
  }
  .contenido-principal-texto {
    max-width: 100%;
    text-align: center;
  }
  .contenido-principal-imagen {
    max-width: 100%;
    margin-top: 20px;
  }
  /* Ocultar la página izquierda (imagen del libro) */
  .pagina-izquierda {
    display: none;
  }
  /* Ajuste de la sección de detalles */
  .detalles {
    height: auto;
    padding: 10px;
  }
  /* Ajustar la página derecha para pantallas muy pequeñas */
  .pagina-derecha {
    width: 100%;
  }
}
.opiniones-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.opinion {
  flex: 1 1 300px;
  max-width: 1fr;
  background-color: #fff;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 5%;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  transition: transform 0.4s, box-shadow 0.4s;
}
.opinion:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.opinion-header {
  background-color: #944e63;
  color: #fff;
  width: 100%;
  padding: 5px;
  border-radius: 8px 8px 0 0;
  font-weight: bold;
}

.opinion-texto {
  margin-bottom: 10px;
  text-align: center;
}
.opinion-texto h4 {
  font-size: 120%;
  padding: 12px;
  font-style: oblique;
}

.opinion-rating {
  display: flex;
  margin-bottom: 10px;
}

.star {
  width: 20px;
  height: 20px;
  background: url("../img/star.png");
  background-size: contain;
  margin: 0 2;
}

.star.full {
  background-position: 0 0;
}

.star.half {
  background-position: -20px 0;
}

.star.empty {
  background: none;
}

.crear-opinion {
  background-color: #944e63;
  color: #dbc9a7;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  border-color: transparent;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
  display: block;
  margin: 20px auto;
  padding: 7px;
  max-width: 150px;
  text-align: center;
}
.crear-opinion:hover {
  background-color: #dbc9a7;
  color: #944e63;
  box-shadow: 0 1px 5px black;
}

/* Estilos para el formulario de opiniones */
.formulario-opinion {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
  background-color: #f5f5f5;
}

.campo-formulario {
  margin-bottom: 15px;
}

.campo-formulario label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.campo-formulario input[type=text],
.campo-formulario textarea,
.campo-formulario select {
  width: 100%;
  padding: 10px;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
  border-radius: 4px;
  box-sizing: border-box;
}

.campo-formulario button {
  background-color: #944e63;
  color: #dbc9a7;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  border-color: transparent;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
  padding: 10px 15px;
}
.campo-formulario button:hover {
  background-color: #dbc9a7;
  color: #944e63;
  box-shadow: 0 1px 5px black;
}

/* Sección de perfil de usuario */
.perfil-usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: normal;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #a8a8a8;
  border-radius: 8px;
  width: 100%;
}

.perfil-usuario h2 {
  font-size: 2em;
  color: #944e63;
  text-align: center;
  margin-bottom: 20px;
}

.perfil-usuario h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.perfil-usuario p {
  font-size: 1em;
  margin: 5px 0;
}

.perfil-usuario .btn-detalles {
  background-color: #944e63;
  color: #dbc9a7;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  border-color: transparent;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
}
.perfil-usuario .btn-detalles:hover {
  background-color: #dbc9a7;
  color: #944e63;
  box-shadow: 0 1px 5px black;
}

.perfil-usuario .info-perfil,
.perfil-usuario .historial-pedidos,
.perfil-usuario .lista-deseos {
  margin-bottom: 30px;
  padding: 15px;
  background-color: #f8f8f8;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  align-content: normal;
  width: 100%;
}

.perfil-usuario .opciones-usuario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: normal;
  gap: 10px;
  width: 55%;
}

.perfil-usuario .opciones-usuario .btn-detalles {
  background-color: #944e63;
  color: #dbc9a7;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  border-color: transparent;
  flex: 1;
  text-align: center;
  width: 100%;
}
.perfil-usuario .opciones-usuario .btn-detalles:hover {
  background-color: #dbc9a7;
  color: #944e63;
  box-shadow: 0 1px 5px black;
}

.perfil-usuario ul {
  list-style: none;
  padding: 0;
}

.perfil-usuario ul li {
  padding: 10px;
  border-bottom: 1px #ccc;
}

/*# sourceMappingURL=styles.css.map */
