// Estilos para la página de detalles
.detalles {
    @include flex(column, center, center);
    height: 80vh;
}

.fondo-libro {
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: $padding-standard;
}

.pagina-izquierda, .pagina-derecha {
    @include flex(column, center, center);
    width: 45%;
    padding: $padding-standard;
    background-color: white;
    border-radius: 18px;
    box-shadow: 15px 15px $color-primary;
    border: 1px solid #6f4c3e;
    position: relative; 
    overflow: hidden; 
    margin-right: -1px; 
    text-align: center;
    max-height: 100%;
}

.pagina-izquierda img {
    max-width: 80%;
    height: 80%;
    border-radius: $border-radius;
    margin: auto;
}

.pagina-derecha h2 {
    margin-bottom: 15px;
    color: $color-primary;
}

.pagina-derecha h3 {
    margin-bottom: 50px;
}

.pagina-derecha h4 {
    width: 80%;
    margin-bottom: 50px;
    font-style: oblique;
}

.pagina-derecha p {
    color: black;
    text-align: center;
}

.pagina-derecha h4, .pagina-derecha p, .pagina-derecha h2 {
    flex-shrink: 1; 
    word-wrap: break-word;
}

.btn-regresar {
    @include button();
    margin-top: auto;
    padding: 10px;
}

/*Media Queries*/ 
/* pantallas medianas */   
@media screen and (max-width: 1250px) {
    .pagina-izquierda, .pagina-derecha {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        padding: $padding-standard;
    }

    .pagina-derecha h4 {
        font-size: 1.2rem;
        margin-bottom: 30px; /* Reduce margen para mejor ajuste */
    }
}

/* pantallas pequeñas */ 
@media screen and (max-width: 768px) {
    .pagina-izquierda {
        display: none; /* Ocultar página izquierda en pantallas pequeñas */
    }

    .pagina-derecha {
        width: 100%; 
    }

    .pagina-derecha h4 {
        font-size: 1rem;
        margin-bottom: 20px; /* Reduce el margen en pantallas pequeñas */
    }

    .detalles {
        height: auto;
        padding: 10px;
    }

    .btn-regresar {
        font-size: 0.9rem; 
    }
}