// Estilos para la página de detalles
.detalles {
    @include flex(column, center, center);
    height: 80vh;
}

.fondo-libro {
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center; 
    padding: $padding-standard;
}

.pagina-izquierda, .pagina-derecha {
    width: 40%;
    padding: $padding-standard;
    background-color: white;
    border-radius: 18px;
    box-shadow: 15px 15px $color-primary;
    border: 1px solid #6f4c3e;
    position: relative; 
    overflow: hidden; 
    margin-right: -1px; 
    text-align: center;
}

.pagina-izquierda img {
    max-width: 100%;
    height: 100%;
    border-radius: $border-radius;
    margin: auto;
}

.pagina-derecha h2 {
    margin-bottom: 15px;
    color: $color-primary;
}

.pagina-derecha h3 {
    margin-bottom: 50px;
}

.pagina-derecha h4 {
    margin-bottom: 50px;
    font-style: oblique;
}

.pagina-derecha p {
    color: black;
    text-align: center;
}

.btn-regresar{
    @include button();
    margin-top: auto;
    padding: 10px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
.contenido-principal {
    @include flex(column, center);
}

.texto-imagen {
    @include flex(column); 
    width: 100%; 
}

.contenido-principal-texto {
    max-width: 100%;
    text-align: center;
}

.contenido-principal-imagen {
    max-width: 100%; 
    margin-top: 20px; 
}

    /* Ocultar la página izquierda (imagen del libro) */
.pagina-izquierda {
    display: none;
}

/* Ajuste de la sección de detalles */
.detalles {
    height: auto; 
    padding: 10px;
}

/* Ajustar la página derecha para pantallas muy pequeñas */
.pagina-derecha {
    width: 100%; 

}
}

/*Media Queries*/

@media screen and (max-width: 1250px) {
    .pagina-izquierda, .pagina-derecha {
        height: auto;  
        padding: $padding-standard;
        margin-bottom: 20px;
        width: 100%;  
        height: auto; 
    }

    .detalles {
        @include flex(column, center, center); 
        height: auto;  
        padding-bottom: 20px;
        margin: 20px;
    }
}



