/* Media queries para dispositivos pequeños */
@media screen and (max-width: 768px) {
    /* Oculta el menú en el header */
    header .main-menu {
        display: none;
    }

    footer{
        padding-top: 0;
        p{
            display: none;
        }
    }
    
    /* Muestra el menú en el footer */
    footer .footer-menu {
        display: flex;
        flex-direction: column;
        background-color: $color-primary;
        width: 100%;
        box-sizing: border-box;
    }

    /* Estilos de header pero invertidos */
    footer .footer-menu ul {
        @include flex(row, center);
        padding: 0;
        margin: 0;
        list-style: none;
    }

    footer .footer-menu ul li {
        margin: 0 8px;
    }

    footer .footer-menu ul li a {
        display: block;
        padding: 6px 10px;
        text-decoration: none;
        color: $color-secondary;
        background-color: $color-primary;
        border-radius: 0px 0px 8px 8px;
        border-top: 2px solid $color-secondary;

        &.active {
            color: $color-primary;
            background-color: $color-background;
            border-bottom: 2px solid $color-background;
        }

        &:hover {
            background-color: $color-secondary;
            color: $color-primary;
            border-top: 2px solid $color-secondary;
        }
        
    }

    .contenido-principal {
        @include flex(column, center);
    }

    .texto-imagen {
        @include flex(column); 
        width: 100%; 
    }

    .contenido-principal-texto {
        max-width: 100%;
        text-align: center;
    }

    .contenido-principal-imagen {
        max-width: 100%; 
        margin-top: 20px; 
    }
}

/* Media queries para pantallas grandes */
@media screen and (min-width: 769px) {
    /* Oculta el menú en el footer en pantallas grandes */
    footer .footer-menu {
        display: none;
    }
}






