// variables generales
$color-background: #ebded2;
$color-primary: #944e63;
$color-secondary: #dbc9a7;
$color-hover: #7e4d72;
$font-family-primary: 'Playfair Display', serif;
$border-radius: 8px;
$padding-standard: 20px;
$transition-duration: 0.3s;
